.profile__button-edit {
  background: url('./../../../image/Edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFFFFF;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 0;
  outline: none;
}

.profile__button-edit:hover {
  opacity: 0.6;
}