.profile__button-add {
  background-image: url('./../../../image/plus.svg');
  height: 50px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  position: absolute;
  right: 0;
  top: 29%;
  cursor: pointer;
  outline: none;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 750px) {
  .profile__button-add {
    position: relative;
    width: 282px;
  }
}